# Форматы данных (1)

Материалы:
* Макрушин С.В. "Лекция 4: Форматы данных"
* https://docs.python.org/3/library/json.html
* https://docs.python.org/3/library/pickle.html
* https://www.crummy.com/software/BeautifulSoup/bs4/doc.ru/bs4ru.html
* Уэс Маккини. Python и анализ данных

## Лабораторная работа №4

### JSON

1.1 Считайте файл `contributors_sample.json`. Воспользовавшись модулем `json`, преобразуйте содержимое файла в соответствующие объекты python. Выведите на экран информацию о первых 3 пользователях.

In [17]:
import json
import pandas as pd
with open('contributors_sample.json', 'r', encoding='utf-8') as f:
    file = json.load(f)
df=pd.DataFrame(file)
df[:3]

,username,name,sex,address,mail,jobs,id
0,uhebert,Lindsey Nguyen,F,"01261 Cameron Spring\nTaylorfurt, AK 97791",jsalazar@gmail.com,"[Energy engineer, Engineer, site, Environmenta...",35193
1,vickitaylor,Cheryl Lewis,F,"66992 Welch Brooks\nMarshallshire, ID 56004",bhudson@gmail.com,"[Music therapist, Volunteer coordinator, Desig...",91970
2,sheilaadams,Julia Allen,F,Unit 1632 Box 2971\nDPO AE 23297,darren44@yahoo.com,"[Management consultant, Engineer, structural, ...",1848091

1.2 Выведите уникальные почтовые домены, содержащиеся в почтовых адресах людей

In [18]:
lst_1 = list(df['mail'])
lst_final = []
for i in lst_1:
    f = i[i.find('@'):]
    if f not in lst_final:
        lst_final.append(f)
lst_final

['@gmail.com', '@yahoo.com', '@hotmail.com']

1.3 Напишите функцию, которая по `username` ищет человека и выводит информацию о нем. Если пользователь с заданным `username` отсутствует, возбудите исключение `ValueError`

In [20]:
username = str(input(''))
def find_user(username):
    f = df[df['username'] == username]
    if not f.empty:
        print(f)
    else:
        raise ValueError
find_user(username)

vlad

ValueError:

1.4 Посчитайте, сколько мужчин и женщин присутсвует в этом наборе данных.

In [21]:
men = 0
women = 0
count_1 = list(df['sex'])
men = count_1.count('F')
women = count_1.count('M') 
print(f'Количество женщин: {women}. Количество мужчин: {men}')

Количество женщин: 2064. Количество мужчин: 2136

1.5 Создайте `pd.DataFrame` `contributors`, имеющий столбцы `id`, `username` и `sex`.

In [22]:
file_1 = pd.DataFrame(file) 
file_1 = file_1[['id', 'username', 'sex']]
print(file_1)

           id       username sex
0       35193        uhebert   F
1       91970    vickitaylor   F
2     1848091    sheilaadams   F
3       50969       nicole82   F
4      676820         jean67   M
...       ...            ...  ..
4195   423555  stevenspencer   F
4196    35251      rwilliams   M
4197   135887      lmartinez   F
4198   212714     brendahill   M
4199   344321       mistyray   F

[4200 rows x 3 columns]

1.6 Загрузите данные из файла `recipes_sample.csv` (__ЛР2__) в таблицу `recipes`. Объедините `recipes` с таблицей `contributors` с сохранением строк в том случае, если информация о человеке отсутствует в JSON-файле. Для скольких человек информация отсутствует?

In [23]:
recipes = pd.read_csv('recipes_sample.csv') 
df_comb = pd.merge(recipes,file_1,how='outer') 
print(f"для {df_comb[df_comb['username'].isna()].shape[0]} человек информация отсутствует") 
df_comb

для 29830 человек информация отсутствует

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,username,sex
0,george s at the cove black bean soup,44123,90.0,35193.0,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,NaN,NaN
1,healthy for them yogurt popsicles,67664,10.0,91970.0,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,NaN,NaN
2,i can t believe it s spinach,38798,30.0,1533.0,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,NaN,NaN
3,italian gut busters,35173,45.0,22724.0,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,NaN,NaN
4,love is in the air beef fondue sauces,84797,25.0,4470.0,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
34025,NaN,423555,NaN,NaN,NaN,NaN,NaN,NaN,stevenspencer,F
34026,NaN,35251,NaN,NaN,NaN,NaN,NaN,NaN,rwilliams,M
34027,NaN,135887,NaN,NaN,NaN,NaN,NaN,NaN,lmartinez,F
34028,NaN,212714,NaN,NaN,NaN,NaN,NaN,NaN,brendahill,M
34029,NaN,344321,NaN,NaN,NaN,NaN,NaN,NaN,mistyray,F

### pickle

2.1 На основе файла `contributors_sample.json` создайте словарь следующего вида: 
```
{
    должность: [список username людей, занимавших эту должность]
}
```

In [29]:
dct_2 = {}
for us in file:
    for jb in us['jobs']:
        if jb not in dct_2:
            dct_2[jb] = [us['username']]
        else:
            dct_2[jb] = [*dct_2[jb], us['username']]
##dct_2

2.2 Сохраните результаты в файл `job_people.pickle` и в файл `job_people.json` с использованием форматов pickle и JSON соответственно. Сравните объемы получившихся файлов. При сохранении в JSON укажите аргумент `indent`.

In [30]:
import pickle
with open('job_people.pickle', 'wb') as f:
    pickle.dump(dct_2, f)
    
with open('job_people.json', 'w') as f: 
    json.dump(dct_2, f, indent=2)

2.3 Считайте файл `job_people.pickle` и продемонстрируйте, что данные считались корректно.

In [31]:
with open('job_people.pickle', 'rb') as f:
    file_2 = pickle.load(f)
##file_2

### XML

3.1 По данным файла `steps_sample.xml` сформируйте словарь с шагами по каждому рецепту вида `{id_рецепта: ["шаг1", "шаг2"]}`. Сохраните этот словарь в файл `steps_sample.json`

In [32]:
from bs4 import BeautifulSoup
with open('.\\steps_sample.xml') as f:
    file = BeautifulSoup(f, 'xml')
idd=file.find_all('id')
steps=file.find_all('steps')
dct_3={}
for i in range(len(idd)):
    dct_3[idd[i].getText(strip=True)]=(steps[i].getText(',',strip=True)).split(',')
dct_3
with open("steps_sample.json", "w") as f_1:
    json.dump(dct_3, f_1)

3.2 По данным файла `steps_sample.xml` сформируйте словарь следующего вида: `кол-во_шагов_в_рецепте: [список_id_рецептов]`

In [33]:
dct_4={}
for j in range(len(steps)):
    if (len(steps[j])) not in dct_4:
        dct_4[len(steps[j])]=[id[j].getText(strip=True)]
    else:
         dct_4[len(steps[j])].append(id[j].getText(strip=True))
        
dct_4

TypeError: 'builtin_function_or_method' object is not subscriptable

3.3 Получите список рецептов, в этапах выполнения которых есть информация о времени (часы или минуты). Для отбора подходящих рецептов обратите внимание на атрибуты соответствующих тэгов.

In [ ]:
for index in file.find_all("recipe"): 
    try:
        print(f'Рецепт с id - {index.id.text}. Время приготовления в минутах: {index.step["has_minutes"]}') 
    except:
        pass
    try:
        print(f'Рецепт с id - {index.id.text}. Время приготовления в часах: {index.step["has_hours"]} ') 

    except:
        pass

3.4 Загрузите данные из файла `recipes_sample.csv` (__ЛР2__) в таблицу `recipes`. Для строк, которые содержат пропуски в столбце `n_steps`, заполните этот столбец на основе файла  `steps_sample.xml`. Строки, в которых столбец `n_steps` заполнен, оставьте без изменений.

In [ ]:
dct = {'id':[],'n_steps':[]}
for r in file.find_all('recipe'):
    dct['id'].append(int(r.id.text))
    dct['n_steps'].append(len(r.find_all('step')))
df=pd.DataFrame(dct)
df.n_steps=df.n_steps.astype('float64')
##df
recipes = pd.read_csv('recipes_sample.csv')
recipes = pd.DataFrame(recipes)
dct_5 = pd.merge(recipes,df,on='id')
dct_5['n_steps'] = dct_5['n_steps_y']
dct_5 = dct_5.drop('n_steps_x',axis=1)
dct_5 = dct_5.drop('n_steps_y',axis=1)
##dct_5

3.5 Проверьте, содержит ли столбец `n_steps` пропуски. Если нет, то преобразуйте его к целочисленному типу и сохраните результаты в файл `recipes_sample_with_filled_nsteps.csv`

In [ ]:
print((dct_5[dct_5['n_steps'].isna()==True]).size)
dct_5.n_steps = dct_5.n_steps.astype(int)

dct_5.to_csv('recipes_sample_with_filled_nsteps.csv', encoding='utf-8')
dct_5